.jumbotron {
  height: 100%;
  width:100%;
  background-color: rgb(35, 102, 226);
  background-image:url(/static/img/feed.jpg);
  background-repeat:no-repeat;
  background-position:center;
  background-size:100% 100%;
}

body{
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  height: 100%;
  width:100%;
  background:url(/static/img/feed_back.jpg);
  background-repeat:no-repeat;
  background-size:100% 100%;
}

.story {
	margin: 10px 0px;
}
.story-creator {
  	font-size: 20px;
  	font-weight: 600;
}
.story-content {
	font-size: 40px;
}
.story-comments {

}
.comment-creator {
	font-weight: 600;
}

.feed-container {
	padding: 1rem 0;
}