<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="/">{{ escape(handler.settings["website_title"]) }}</a>
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="nav-link" href="/">首页
          <span class="sr-only">(当前)</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/feed/">广场</a>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li>
        {%if not user%}
      <li>
        <a href="/login" class="nav-link">
          <span></span> 登录</a>
      </li>

        {%else%}
        <li>
            <a href="/pro" class="nav-link">
              <span></span>{{user.nickname}}</a>
          </li>
      <li>        
        <a href="/logout" class="nav-link">
          <span></span> 登出</a>
      </li>
      {% end %}
      {%if not user%}
      <li>
        <a href="/signup" class="nav-link">
          <span></span> 注册</a>
      </li>
      {%end%}
    </ul>
  </nav>
</header>