<div class="modal fade" id="mask">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<h4 align="center">留下你的足迹吧</h4>
			<div align="center">
			<textarea id="textarea" rows="4" cols="80"></textarea>
			</div>
			<div align="center">
			    <input type="button"  onclick="hideMask('0')" value="取消" class="btn btn-primary btn-sm">
			    <input type="button"  onclick="hideMask('1')" value="发表" class="btn btn-primary btn-sm">
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal -->
   </div>
