{% extends "base.html" %}

{% block head %}
<title>新建相册| {{ escape(handler.settings["website_title"]) }}</title>
{% end %}
{% block body %}

    <div class="container">
        <div class="py-5 text-center">
            <h1 class="jumbotron-heading">创建相册</h1>
            <form action="/albums/new"  role="form" method="post">
                <div class="form-group">
                    <label for="name">相册名称：</label>
                    <br>
                    <input  class="form-control" id="xcname" type="text" name="name" required autofocus>
                </div>
                <div class="form-group">
                    <label for="name">相册描述：</label>
                    <br>
                    <textarea class="form-control" id="xcms" rows="3" name="discribe" placeholder="说说相册的故事吧..."></textarea>
                </div>
                <div class="form-group">
                    <input class="btn btn-primary" type="submit" value="确认">
                    <a class="btn btn-secondary" href="/albums" role="button">返回相册</a>
                </div>
            </form>
        </div>
    
    </div>

{% end %}