{% extends "base.html" %}



{% block head %}
<title>{{ user.nickname }}的相册 | {{ escape(handler.settings["website_title"]) }}</title>
<link rel="stylesheet" href="/static/css/album.css">
{% end %}

{% block body %}
<!--这里是个人相册标题和概要-->
<section class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-md-2">
        <img class="rounded-circle" src="/static/img/face.jpg" alt="Generic placeholder image" width="140" height="140">
      </div>
      <div class="col-md-10">
        <h1 class="jumbotron-heading text-white">{{ user.nickname }}</h1>
        <p>
          <a href="#" class="btn btn-primary my-2">给我打赏</a>
          <a href="http://wpa.qq.com/msgrd?v=3&uin=494800279&site=qq&menu=yes" class="btn btn-secondary my-2">联系我</a>
        </p>
      </div>
    </div>
  </div>
</section>
<!--这里是相册列表主框架-->


<div class="album py-5 bg-light">
  <div class="container">
    <div class="card text-center">
      <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs">
          <li class="nav-item">
            <a class="nav-link" href="/pro">关于我</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/u/{{ user.id }}/photos/">所有照片</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="/u/{{ user.id }}/albums/">相册</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled">视频</a>
          </li>
        </ul>
      </div>
      {%if albums %}
      <div class="container mt-4 mr-4 text-right">
        <a class="btn btn-outline-primary btn-sm" href="/photos/new" role="button">上传照片</a>
        <a class="btn btn-outline-secondary btn-sm" href="/albums/new" role="button">新建相册</a>
      </div>
      {%end%}
      <div class="card-body">
        {%if not albums %}
        <h5 class="card-title">空空如也</h5>
        <p class="card-text">你看起来好像还没有相册，先建个相册吧</p>
        <a href="/albums/new" class="btn btn-primary">新建相册</a>
        {% else %}

        <div class="row">
          {% for album in albums%}
          <div class="col-md-3">


            <div class="card mb-3 box-shadow">
              <a href="/u/{{ user.id }}/albums/{{ album.album_id }}">
                <img class="card-img-top " data-src="holder.js/100px180?theme=thumb&bg=55595c&fg=eceeef&text=缩略图" height="180" width="300 "
                  src="/static/images/min/{{album.cover_id}}.jpg" alt="Card image cap">
              </a>

              <div class="card-body">
                <a class="card-title font-weight-bold" href="/u/{{ user.id }}/albums/{{ album.album_id }}">{{ album.album_name }}</a>
                <div class="mt-2 d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary" data-toggle="modal"
                     data-target="#exampleModal1" data-id="{{ album.album_id }}" data-name="{{ album.album_name }}" data-description="{{ album.album_description }}">编辑</button>
                    <button type="button" class="btn btn-sm btn-outline-secondary" data-toggle="modal" data-target="#exampleModal" data-whatever="{{ album.album_id }}">删除</button>
                  </div>
                  <small class="text-muted">{{ photos_num[album.album_id] }}张照片</small>
                </div>
              </div>


              <div class="card-footer">
                <small>最近上传 {{ locale.format_date(album.edit_date, full_format=True, shorter=True,relative=False ) }}</small>
              </div>
            </div>
          </div>
          {% end %} {% end %}
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">删除照片？</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form method="post" action="/albums/delete">
      <div class="modal-body">
        
          <div class="form-group">
            <label for="album_id" class="col-form-label">要删除的照片id</label>
            <input type="text" class="form-control" id="album_id" name="album_id" readonly>
          </div>
          这项动作无法恢复。 你确定要永久删除这张照片？
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
        <button type="submit" class="btn btn-danger">确认删除</a>
      </div>
    </form>
    </div>
  </div>
</div>

<div class="modal fade" id="exampleModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel1" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel1">编辑相册</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body" >
          <form method="post" action="/albums/edit">
            <div class="form-group">
                <label for="recipient-name" class="col-form-label">相册ID</label>
                <input type="text" class="form-control" id="album-id" name="id" readonly>
              </div>
            <div class="form-group">
              <label for="recipient-name" class="col-form-label">相册名称</label>
              <input type="text" class="form-control" id="album-name" name="name">
            </div>
            <div class="form-group">
              <label for="message-text" class="col-form-label">相册描述</label>
              <textarea class="form-control" id="album-discribe" name="discribe"></textarea>
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
          <button type="button" class="btn btn-primary">确认更改</button>
        </div>
      </form>
      </div>
    </div>
  </div>


<script>$('#exampleModal').on('show.bs.modal', function (event) {
    var button = $(event.relatedTarget) // Button that triggered the modal
    var album_id = button.data('whatever') 
    var modal = $(this)
    modal.find('.modal-body input').val(album_id)
  })
  
  $('#exampleModal1').on('show.bs.modal', function (event) {
  var button = $(event.relatedTarget) // Button that triggered the modal
  var id = button.data('id')
  var name = button.data('name')
  var description = button.data('description')
  var modal = $(this)
  modal.find('.modal-body input').val(recipient)
})
  
  </script>
{% end %}


