<!doctype html>
<html>
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{ static_url('css/bootstrap.min.css') }}">
    <link rel="icon" href="/static/favicon.ico">
    <script src="/static/js/jquery-slim.min.js"></script>
    <script src="/static/js/popper.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/holder.min.js"></script>
    <script src="/static/js/upload_warning.js"></script>
    {% block head %}{% end %}
  </head>
  <body>
    <!--这里是导航栏-->
    {% module Navbar() %}
    <main role="main">
      <!--这里是页面的主体内容-->
      {% block body %}{% end %}
    </main>
    <!--这里是页面底部-->
    {% block bottom %}{% end %}
    {% include common/module-bottom.html %}
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  
      </body>
</html>