<!DOCTYPE html>

<html>
<head>
	<title>朋友圈</title>
	<meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1.0">
	 <link rel="stylesheet" href="{{ static_url('css/bootstrap.min.css') }}">
	 <link rel="icon" href="/static/favicon.ico">
	<link rel="stylesheet" href="/static/css/feed.css">
	<script src="https://cdn.bootcss.com/jquery/2.1.1/jquery.min.js"></script>

</head>
<body>
{% module Navbar() %}
<section class="jumbotron" >
  <div class="container" >
    <div class="row">
      <div class="col-md-9">
      </div>
      <div class="col-md-3">
        <h1 class="jumbotron-heading text-white">{{ user.nickname }}</h1>
        <p>
          <a href="#" class="btn btn-primary my-2">我也想说</a>
          <a href="http://wpa.qq.com/msgrd?v=3&uin=494800279&site=qq&menu=yes" class="btn btn-secondary my-2">联系我</a>
        </p>
      </div>
    </div>
  </div>
</section>
<main role="main">
<div class="container" id="main_body">
	{%for i in range(len(feed))[::-1]%}
	<div class="row clearfix" id= {{feed[i]['feed_id']}} >
		<div class="col-md-2 column">
		</div>
		<div class="col-md-8 column" style="background:url(/static/img/feed_block.jpg);background-repeat:no-repeat;background-size:100% 100%;">
            <div class="row clearfix" >
                <div class="col-md-6 column" >
					<p>
					   {{feed[i]['name']}}      {{feed[i]['time']}}
				    </p>
                </div>
                <div class="col-md-6 column" align="right">
					{%if user_id == feed[i]['user_id']%}
                   <button  onclick="feed_delete('{{feed[i]['user_id']}}','{{feed[i]['feed_id']}}')" class="btn btn-default btn-sm">
					   删除
			       </button>
					{%end%}
            </div>
            </div>
			<p style="word-break:break-all" class="p1">
				{{feed[i]['reason']}}
            </p>
			<div class="row">
				<div class="col-md-12">
					<div class="thumbnail" align="center">
						<img alt="400x300" src="/static/images/min/{{feed[i]['photo_id']}}.jpg"/>
					</div>
				</div>
			</div>
			<p></p>
			<div class="row clearfix">
				<div class="col-md-6 column">
					<div class="row clearfix">
						<div class="col-md-3 column">
							{% if like_flag %}
							{% if like_flag[i] == 1%}
							<button id="mylike{{i}}" name={{feed[i]['feed_id']}} class="btn btn-primary btn-sm"  onclick="change('mylike{{i}}','{{user_id}}')" >点赞{{len(feed_d[i])}}人</button>
							{%end%}
							{%if like_flag[i] == 0%}
							<button id="mylike2{{i}}" name={{feed[i]['feed_id']}}  class="btn btn-default btn-sm"  onclick="change('mylike2{{i}}')" >点赞{{len(feed_d[i])}}人</button>
							{%end%}
							{%else%}
                             <button id="mylike3{{i}}" name={{feed[i]['feed_id']}} class="btn btn-default btn-sm"   onclick="change('mylike3{{i}}')" >点赞{{len(feed_d[i])}}人</button>
							{%end%}
						</div>
						<div class="col-md-3 column">
							 <button id= "comment{{i}}" type="button" class="btn btn-primary btn-sm"  onclick="showMask('comment{{i}}','{{feed[i]['feed_id']}}','{{feed[i]['photo_id']}}')">评论{{len(feed_c[i])}}条</button>
						</div>
                        <div class="col-md-6 column">
                        </div>
					</div>
				</div>
				<div class="col-md-6 column">
					{% if like_flag %}
					{% if like_flag[i] == 1%}
					<p align="right" id="mmylike{{i}}" style="color:deepskyblue">
						{%if len(feed_d[i])>=3%}
                        {{feed_d[i][0]['user_name']}},{{feed_d[i][1]['user_name']}}...已赞
						{%elif len(feed_d[i])==1%}
						{{feed_d[i][0]['user_name']}}已赞
						{%elif len(feed_d[i])==2%}
						{{feed_d[i][0]['user_name']}},{{feed_d[i][1]['user_name']}}已赞
						{%end%}
                    </p>
					{%end%}
					{%if like_flag[i] == 0%}
					<p align="right" id="mmylike2{{i}}" style="color:deepskyblue">
						{%if len(feed_d[i])>=3%}
                        {{feed_d[i][0]['user_name']}},{{feed_d[i][1]['user_name']}}...已赞
						{%elif len(feed_d[i])==1%}
						{{feed_d[i][0]['user_name']}}已赞
						{%elif len(feed_d[i])==2%}
						{{feed_d[i][0]['user_name']}},{{feed_d[i][1]['user_name']}}已赞
						{%end%}
                    </p>
					{%end%}
					{%else%}
					<p align="right" id="mmylike3{{i}}" style="color:deepskyblue">
						{%if len(feed_d[i])>=3%}
                        {{feed_d[i][0]['user_name']}},{{feed_d[i][1]['user_name']}}...已赞
						{%elif len(feed_d[i])==1%}
						{{feed_d[i][0]['user_name']}}已赞
						{%elif len(feed_d[i])==2%}
						{{feed_d[i][0]['user_name']}},{{feed_d[i][1]['user_name']}}已赞
						{%end%}
                    </p>
					{%end%}
				</div>
			</div>
			<p></p>
			<div class="row clearfix">
				<div class="col-md-12 column" id = "comments{{feed[i]['feed_id']}}">
					<p>
						这里是评论区
					</p>
					{%if feed_c[i]%}
					{%for comment_index in range(len(feed_c[i]))%}
					<p style="word-break:break-all"  onclick="comment_delete()">
						{{feed_c[i][comment_index]['user_name']}}:{{feed_c[i][comment_index]['comment_body']}}
					</p>
					{%end%}
					{%end%}
				</div>
			</div>
    </div>
		<div class="col-md-2 column">
		</div>
	</div>
	{%if i > 0%}
    <p>
    </p>
	{%end%}
    {%end%}
</div>
<div class="modal fade" id="mask" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<h4 align="center">留下你的足迹吧</h4>
			<div align="center">
			<textarea id="textarea" rows="4" cols="65" ></textarea>
			</div>
			<div align="center">
			    <input type="button"  onclick="hideMask('0')" value="取消" class="btn btn-primary btn-sm">
			    <input type="button"  onclick="hideMask('1')" value="发表" class="btn btn-primary btn-sm">
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal -->
   </div>
</main>
    {% include common/module-bottom.html %}
    <script src="https://code.jquery.com/jquery.js"></script>
     <script src="https://cdn.bootcss.com/jquery/2.1.1/jquery.min.js"></script>
    <script src="/static/js/popper.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
   <!-- 包括所有已编译的插件 -->
    <script src="/static/js/feed.js"></script>

</body>
</html>