<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1.0">
	<title>朋友圈</title>
	<link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://cdn.bootcss.com/jquery/2.1.1/jquery.min.js"></script>
	<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
    <div class="row clearfix" >
        <div class="col-md-2 column">
        </div>
    <div class="col-md-8 column" style="background-color:#cccccc" >
			<h1 class="text-center" >
				欢迎来到广场诸位
			</h1>
		</div>

     <div class="col-md-2 column">
        </div>
    </div>
	{%for i in range(len(feed))[::-1]%}
	<div class="row clearfix" id= {{feed[i]['time']}}>
		<div class="col-md-2 column">
		</div>
		<div class="col-md-8 column" style="background-color:#eeeeee">
            <div class="row clearfix">
	</div>
            <div class="row clearfix" >
                <div class="col-md-6 column" >
                   <h4>
					   {{feed[i]['user_name']}}
			       </h4>
                </div>

                <div class="col-md-6 column" align="right">
                   <h4>
					   {{feed[i]['time']}}
			       </h4>
            </div>
            </div>
			<p style="word-break:break-all" class="p1">
				{{feed[i]['reason']}}
            </p>
			<div class="row">
				<div class="col-md-6">
					<div class="thumbnail">
						<img alt="800x600" src="/static/img/timg.jpg" />
					</div>
				</div>
				<div class="col-md-6">
					<div class="thumbnail">
						<img alt="800x600" src="/static/img/timg.jpg" />
					</div>
				</div>
			</div>
			<div class="row clearfix">
				<div class="col-md-6 column">
					<div class="row clearfix">
						<div class="col-md-3 column">
							<button id="mylike{{i}}" name={{feed[i]['feed_id']}} type="button" class="btn btn-primary btn-sm" data-toggle="toggle" onclick="change('mylike{{i}}')" style="color: white;">点赞{{len(feed_d[i])}}人</button>
						</div>
						<div class="col-md-3 column">
							 <button id= "comment{{i}}" type="button" class="btn btn-primary btn-sm" onclick="showMask('comment{{i}}','{{feed[i]['feed_id']}}','{{feed[i]['photo_id']}}')">评论{{len(feed_c[i])}}条</button>
						</div>
                        <div class="col-md-6 column">
                        </div>
					</div>
				</div>
				<div class="col-md-6 column">
					<p align="right" id="mmylike{{i}}">
						{%if len(feed_d[i])>=3%}
                        {{len(feed_d[i][0])}},{{len(feed_d[i][1])}}...已赞
						{%elif len(feed_d[i])==1%}
						{{len(feed_d[i][0])}}已赞
						{%elif len(feed_d[i])==2%}
						{{len(feed_d[i][0])}},{{len(feed_d[i][1])}}已赞
						{%end%}
                    </p>
				</div>
			</div>
			<div class="row clearfix">
				<div class="col-md-12 column" id = "comments{{feed[i]['feed_id']}}">
					<h5>
						这里是评论区
					</h5>
					{%for comment_index in range(len(feed_c[i]))%}
					<p style="word-break:break-all" >
						{{feed_c[i][comment_index]['user_id']}}:{{feed_c[i][comment_index]['comment_body']}}
					</p>
					{%end%}

				</div>
			</div>
    </div>
		<div class="col-md-2 column">
		</div>
	</div>
    <p>
    </p>
    {%end%}
</div>
{% module Dialog() %}

  <script src="https://code.jquery.com/jquery.js"></script>
  <!-- 包括所有已编译的插件 <script src="/static/js/jquery-3.3.1.min.js"></script>-->
  <script src="/static/js/feed.js"></script>
  <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>

</html>